.mainCardOneThis{

    width: 40rem;
    margin: 0 auto;   
    opacity: .8;

}
.mainCardSmall{
    width: 40rem;
    margin: 0 auto;
    opacity: .8;
}

.titleCard{
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 2rem;
}




.card-body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 1rem;
    background-color: rgb(255,255,224)   

}




