body{
  background-image: url(/images/bg1.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
 }



.card-main-one{
  /* margin-top: 5rem !important; */
  /* margin-left: 12rem; */

  width: 70rem;
  height: 20rem;
  align-self: center;
  opacity: .8;

}
/* 
.card-main:hover{
  transform: scale(1.2);
} */

.card-title{
  font-family: 'Lucida Sans';
  text-align: center;
  margin: 1rem;

}

.card-body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  margin: 1rem;
  background-color: rgb(255,255,224)

  

}
