body{
  background-image: url(/images/blur-bg1.jpg);
 background-position: center;
 background-size: cover;  
 height: 100%;
}


.card-main-one{
  margin-top: 3%;
  margin-left: 13rem;
  width: 45rem;
 height: 25rem;
 align-self: center;
 opacity: .8;

}


.card-title{
 font-family: 'Lucida Sans';
 text-align: center;
 margin: 1rem;

}

.card-body{
 font-family: "Comic Sans MS", cursive, sans-serif;
 text-align: center;
 margin: 1rem;
 background-color: rgb(255,255,224)


}