.App {
  text-align: center;
}

.Contact{
    margin: 1rem;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 46px;
    text-align: center;
    color: blue;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card {
  width: 20rem;
}
 

/*.card-body {
  padding: 3rem 0 !important;
}*/
 
/*.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}*/

.Contact{
    margin: 1rem;
    /*font-family:"Comic Sans MS", cursive, sans-serif;*/
    font-size: 46px;
    text-align: center;
    color: maroon;
}
.card:hover {
  box-shadow: 10px 10px 20px 5px rgba(1, 1, 1, 0.5);
}


body {
  background: radial-gradient(#f8f8f8, #ffff, #e5e5e5);
}


/*.card-main{
    width: 70rem;
    height: 15rem;
    align-self: center;

}*/

/*.card-main-image{
    width: 20rem;
    height: 15rem;
    align-self: center;
    

}*/
.card-title{
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 1rem;

}

.card-body{
   /* font-family: 'Lucida Sans';*/
    text-align: center;
    margin: 1rem;

}

.thumbnail  {
    max-height: 100%;
    max-width: 10px;
}
 
/*.card-img-top:hover {
  transform: scale(1.8);
}*/
