.card-body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 1rem;
    background-color: rgb(255,255,224)   

}

#button
{
    background-color: #5A3426 !important;
}

.cardMain{

    width: 60rem;
    margin: 0 auto;   
    opacity: 0.9;
    height: 50rem;

}

.titleCard{
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 2rem;
}