/*Author:  Rishab Mantri
  Initial Creation:  September 21, 2019
  Last Modified:  Rishab Mantri
  Modified date:  October 10,2019
*/
mainCard{

    width: 30rem;
    margin: 0 auto;
    opacity: .9;

}

.titleCard{
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 2rem;
}

input[type=text], input[type=password], input[type=email]:focus {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.card-body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 1rem;
    background-color: rgb(255,255,224)

}

#btn-color
{
    background-color: #5A3426 !important;
}
