/*Author:             Salini Chittineni
  Initial Creation:   September 5, 2019
  Modified by:        Salini Chittineni
  Modified date:      October 8,2019

  About: This is for styling Toolbar
*/

.root {
  
    flex-grow: 1;
  }

.menuButton {
    margin-right: spacing(2);
  }

.title {
 
    
    justify-content: left !important;
    height: 2rem;
      
  }

.bgColor
  {
    background-color : #5A3426 !important;
  }

 
/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    background-color: #5A3426;
    opacity: .8;
    
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

