/*Author:             Salini Chittineni
  Initial Creation:   September 5, 2019
  Modified by:        Salini Chittineni
  Modified date:      October 8,2019

  About: This is for styling Toolbar
*/

.root {
    flex-grow: 1;
  }

.menuButton {
    margin-right: spacing(2);
  }

.title {
    flex-grow : 1;
    justify-content: left !important;
  }

.bgColor
  {
    background-color : #5A3426 !important;
  }

