/*Author: Jahnavi Bantupalli
Date added: Sep 18, 2019
Date modified : 
*/
.aboutUs{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 46px;
    text-align: center;
    color: chocolate;

}