/*Author: Jahnavi Bantupalli
Date added: Sep 18, 2019
Date modified : 
*/
body{
    background-image: url("/images/background-beer.jpeg");
    background-position:unset; 
   
    height: 100%;
    width: 100%
    
}
.about-us{
    margin: 1rem;
    font-family:"Lucida Sans"    ;
    font-size: 60px;
    text-align: center;
    color:white
    /* color: rgb(15, 81, 204); */

}


.card-main{
    width: 70rem;
    height: 15rem;
    align-self: center;

}

.card-main-image{
    width: 20rem;
    height: 15rem;
    align-self: center;
    

}
.card-title{
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 1rem;

}

.card-body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 1rem;
    background-color: rgb(255,255,224)

    

}

.thumbnail  {
    max-height: 100%;
    max-width: 10px;
    color: rgb(250,250,210)
}